/*csslint box-model: false, ids: false, universal-selector: false, box-sizing: false,*/
/*UNIVERSAL SELECTOR*/

* {
    box-sizing: border-box;
}


/***************************
GENERAL
***************************/

body {
    font-family: 'Alfa Slab One', cursive;
    line-height: 1.5;
    margin: 0;
}

.main-header {
    background: linear-gradient(black, transparent 90%),
                linear-gradient(0deg, #fff, transparent),
                #ffa949 url('../img/Connals.jpg');
/*    background-image: url('../img/Connals.jpg');*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 850px;
    padding-top: 170px;
}

.main-header1 {
    background: linear-gradient(black, transparent 90%),
                linear-gradient(0deg, #fff, transparent),
                #ffa949 url('../img/C-burger.jpg');
/*    background-image: url('../img/Connals.jpg');*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 850px;
    padding-top: 170px;
}

.main-header,
.title {
    text-align: center;
}

.main-header1,
.title {
    text-align: center;
}
.title {
    /*To change font-size from px to em. Do this simple equation.
Whatever the desired pixel is / 16.
26px/16px =
*/
    border-bottom: 2px solid;
    color: white;
    font-size: 1.625em;
    font-weight: 200;
    letter-spacing: .065em;
    padding-bottom: 10px;
}

.primary-content {
    padding-bottom: 95px;
    text-align: center;
}

.secondary-content {
    border-bottom: 2px solid #dfe2e6;
    padding-bottom: 70px;
    padding-top: 80px;
}

.primary-content, .secondary-content {
    margin: auto;
    max-width: 900px;
    padding-left: 50px;
    padding-right: 50px;
    width: 75%;
}

.t-border {
    border-top: 2px solid lightgray;
}

/*
ul li {
    margin-bottom: 5px;
}
*/

ul, ol {
margin-left: 30px 0;
}

li{
margin-bottom: 10px;
}

.arrow {
    width: 50px;
    margin-top: 150px;
}

img {
    margin-bottom: 20px;
    width: 100%;
    border-radius: 10px;
}

.burger {
    background-image: url('1menu.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /*2 values first is top and bottom, and value is left and right.*/
    border-color: black;
    border-radius: 10px;
    border-style: solid;
    border-top: 10px;
    border-width: 10px 20px;
    /*Box Shadow: 1st value is horizintal. 2nd is vertical. 3rd is blur. 4th is pread-radius.*/
    box-shadow: inset 0px 0px 50px 10px rgba(0,0,0,.8);
    /*When 3 values. First one is top. Second one is left and right. Third one is the bottom.*/
    margin: 105px 0 60px;
    padding: 18% 24%; 
}

.callout {
    border-bottom: 3px solid;
    display: inline-block;
    font-size: 1.25em;
    margin-top: 20px;
    padding: 0 9px 3px;
}

#main-footer {
    border-bottom: solid 10px black;
    padding-bottom: 60px;
    padding-top: 60px;
}

.yelp{
    width: 50px;
    height: 50px;
}

.facebook{
    width: 50px;
    height: 50px;
}

/*
#my-map-display{
margin: auto;
}
*/

/***************************
HEADLINE ELEMENTS AND P ELEMENTS
***************************/


/*90px/16px*/

h1 {
    color: whitesmoke;
    font-size: 5.625em;
    font-weight: normal;
    line-height: 1.3;
    /*Text Shadows: 1st value is horizontal offset. 2nd value is vertical offset. 3rd value is blur. 4th is of the color of the shadow.*/
    text-shadow: 0 1px 1px rgba(0,0,0,0.8);
    text-transform: uppercase;
    margin: 12px 0 0;
}

h2 {
    font-size: 53px;
    font-weight: normal;
    /*26px/53px*/
    margin-bottom: .5em;
    text-decoration: underline;
}

h3 {
    color: deepskyblue;
    font-size: 20px;
    /*34px/20px*/
    margin-bottom: 1.7em;
}

.1menu{
width: 1000px;
height: 2000px;
}

.2menu{
width: 1000px;
height: 2000px;
}
/***************************
FLOATED COLUMNS
***************************/
.resorts, .tips{
width: 46.5%;
}

.resorts{
float: left;
}

.tips{
float: right;
}

.group:after{
clear: both;
content: "";
display: table;    
}
/***************************
COLORS
***************************/

body {
    color: crimson;
}

.title {
    color: whitesmoke;
}

.main-header {
    background-color: royalblue;
}

.burger {
    background-color: black;
    color: aliceblue;
}

ul li {
    color: black;
}

/*CSS PSUEDO CLASS*/

a:link {
    color: blueviolet;
}

a:visited {
    color: skyblue;
}

a:hover {
    color: darkblue;
}

a:active {
    color: darkgoldenrod;
}

a:focus {
    background-color: white;
    color: dodgerblue;
}

/***************************
MEDIA QUERIES
***************************/

@media (max-width: 1024px) {
    .primary-content, .secondary-content{
    width: 90%;
    }
    .burger{
    padding: 10px, 12px;
    margin: 50px 0 20px;
    }
}

@media (max-width: 768px) {
    .primary-content, .secondary-content{
    width: 100%;
    padding: 20px;
    border-top: none; 
    }
    .main-header {
    max-height: 380px;
    padding: 50px 25px 0;
    }
    .title {
    font-size: 1.3rem;
    border:none;
    }
    h1{
    font-size: 5rem;
    line-height: 1.1;
    }
    .arrow {
    display: none;
    }
    .intro {
    font-size: 1rem;
    }
    .resorts, .tips{
    float: none;
    width: 100%;
    }
    .main-footer {
    padding: 20px 0;
    }
}

@media (max-width: 375px) {
    h1{
    font-size: 3rem;
    }
}

